#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.sbr
*.pubxml
*.dbmdl
*.jfm
obj/
[Rr]elease*/
_ReSharper*/
ImportCenter/
Packages/
.vs/config/
_.vs/config/
.vs/*
/.vs/config/applicationhost.config
**/App_Data/wkhtmltopdf
/UI/Web/wkhtmltopdf/api-ms-win-crt-conio-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-convert-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-environment-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-filesystem-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-heap-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-locale-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-math-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-multibyte-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-private-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-process-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-runtime-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-stdio-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-string-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-time-l1-1-0.dll
/UI/Web/wkhtmltopdf/api-ms-win-crt-utility-l1-1-0.dll
/UI/Web/wkhtmltopdf/concrt140.dll
/UI/Web/wkhtmltopdf/msvcp140.dll
/UI/Web/wkhtmltopdf/ucrtbase.dll
/UI/Web/wkhtmltopdf/vcruntime140.dll
/UI/Web/wkhtmltopdf/wkhtmltopdf.exe
